.nav {
display: flex;
justify-content: space-between;
align-items:flex-end;
width: 100%;
max-width: 1200px;
}

.titulo{
padding: 30px;
}

.espacio {
flex-grow: 1;
width: 40px;
}

.derecha {
display: flex;
align-items: center;
gap: 20px;
}

.boton {
padding: 10px 10px;
}

.contenedor{
display: flex;
flex-direction: column;
justify-content: center;
background-color:rgb(218, 216, 216);
text-align: center;
height: 250px;
margin-bottom: 30px;
padding-bottom: 50px;
}

.boton-contenedor{
background-color: black;
color: white;
text-align: center;
display: block;
margin: auto;
width: 150px;
height: 60px;
}

.segundo-contenedor{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center; 
}

.cuadrados{
display: flex;
flex-direction: row;
justify-content: center;
gap: 20px;
padding-bottom: 50px;
}

.cuadrado{
display: flex;
flex-direction: column;
background-color: black;
width: 180px;
height: 180px;
align-items: center;
justify-content: center;
}

.item {
text-align: center;
}

.ultimo-contenedor{
margin-top: 50px;
padding: 50px;
background-color:rgb(218, 216, 216);
display: flex;
flex-direction: row;
justify-content: center;
gap: 100px;

}