.card{
  width: 300px;
  height: 150px;
  border-color: rgb(255, 0, 217);
  border-width: 2px 5px 5px;
  border-style: solid;
  padding: '16px';
  }


 .image{
  width: '100px';
  height: '100px';
  }
  
  